#upper
{height:5px;
	
}
#lower
{height:2px;
	
}
#container ul li,#container ul  ul
{margin:0px;
padding:0px;
}

#container ul{
list-style:none;
}
#container ul li{
	background-color:gray;
	width:150px;
	border:1px solid white;
	height: 50px;
	line-height:50px;
	text-align:center;
	float:left;
}

#container ul li:hover
{   text-shadow:2px 2px 2px black;
	background-color:red;
}
#container ul  ul {
	display:none;
}
#container ul li:hover > ul
{
	
	display:block;
}


a
{color:#fff;
font-weight:bold;
text-decoration:none;
}